body {
  font-family: 'Roboto', sans-serif;
}
nav ul li {
  display: inline;    /* Pone los <li> uno al lado del otro */
  margin-right: 20px; /* Espacio entre los links */
}
nav ul li a:link {
  color: blue;          /* Color de los links no visitados */
  text-decoration: none; /* Quita el subrayado */
}
nav ul li a:visited {
  color: rgb(230, 218, 230);        /* Color de los links ya visitados */
  text-decoration: none; /* Quita el subrayado */
}
nav ul li a:hover {
  color: red;              /* Cambia el color al pasar el mouse */
  text-decoration: underline; /* Subraya el link al pasar el mouse */
}
nav ul li a:active {
  color: green;             /* Cambia el color mientras se hace clic */
  text-decoration: underline; /* Subraya el link en el clic */
}
h1 {
  color: blue;              /* Cambia el color del texto */
  text-decoration: underline; /* Subraya el título */
}
h2{color: blueviolet;
text-decoration: underline;}
body{
    background-image: url("fondo.png");
    background-size: cover;
}
.contenedor {
  max-width: 800px;
  margin: 0 auto;   
  padding: 20px;  
  background-color: rgba(255, 255, 255, 0.8);
}
img{max-width: 100%;}
.menu {
  background-color: #8a34db; /* azul de fondo */
  padding: 1rem;            /* espacio interno */
}

.menu ul {
  list-style: none;         
  margin: 0;
  padding: 0;
  display: flex;           
  gap: 1rem;                
}

.menu a {
  color: white;            
  text-decoration: none;    
  font-weight: bold;
}